{% extends "base.html" %} {% block content %}
<h1>Users</h1>

<form action="" method="post">
    <div class="container">
        {{ form.csrf_token() }}
  {{ form.username.label(size=50 , class="form-control w-50") }} 
  {{ form.username}}
  {{ form.firstname.label(size=50 , class="form-control w-50") }} 
  {{ form.firstname}}
  {{ form.lastname.label(size=50 , class="form-control w-50") }} 
  {{ form.lastname }}
  {{ form.password.label(size=100 , class="form-control w-50") }} 
  {{ form.password}}
  {{ form.submit }} 
</div>
</form>

 