{% extends "base.html" %} {% block content %}

<h1> Task App</h1>
<form action="" method="post" >

  <div class="container">
    {{ form.csrf_token() }}
  {{ form.title.label(class="form-label") }}
  {{ form.title(size=100,class="form-control w-50" ) }}

  
  {{ form.description.label(size=100,class="form-control w-50" ) }}
  {{ form.description}}

  

  
  {{ form.completed.label(class="form-label") }}
  {{ form.completed }} 
  

  {{ form.submit }} 
 
  
 
</div>
  
</form>



  
  

{% endblock %}